@font-face {
  font-family: 'iconfont';
  /* Project id 3144518 */
  src: url('//at.alicdn.com/t/font_3144518_357zz9v7ar8.woff2?t=1642317751502') format('woff2'), url('//at.alicdn.com/t/font_3144518_357zz9v7ar8.woff?t=1642317751502') format('woff'), url('//at.alicdn.com/t/font_3144518_357zz9v7ar8.ttf?t=1642317751502') format('truetype');
}
.iconfont {
  font-family: 'iconfont' !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.icon-zuopin:before {
  content: '\e61d';
}
.icon-shouji:before {
  content: '\e61e';
}
.icon-lishi:before {
  content: '\e61f';
}
.icon-wenda:before {
  content: '\e620';
}
.icon-yanzhengma:before {
  content: '\e621';
}
.icon-shipin:before {
  content: '\e622';
}
.icon-dianzan:before {
  content: '\e623';
}
.icon-yuedu:before {
  content: '\e624';
}
.icon-gengduo:before {
  content: '\e610';
}
.icon-shoucang:before {
  content: '\e611';
}
.icon-shouye:before {
  content: '\e612';
}
.icon-sousuo:before {
  content: '\e613';
}
.icon-guanbi:before {
  content: '\e614';
}
.icon-fenxiang:before {
  content: '\e615';
}
.icon-wuwangluo:before {
  content: '\e616';
}
.icon-shanchu:before {
  content: '\e617';
}
.icon-youjiantou:before {
  content: '\e618';
}
.icon-zuojiantou:before {
  content: '\e619';
}
.icon-dianzan2:before {
  content: '\e61a';
}
.icon-wode:before {
  content: '\e61b';
}
.icon-pinglun:before {
  content: '\e61c';
}
body {
  background-color: #f5f7f9;
}
.page-nav-bar {
  background-color: #007bff;
}
.page-nav-bar .van-nav-bar__title {
  color: #fff;
  font-size: 14px;
}
